* {  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 10vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vh;
}

a {
    font-size: 2.5vw;
    color: #fff;
}

h1, h2, h3 {
    font-size: 2.5vw;
    margin-bottom: 5vh;
}
button{
    border-radius: 1vw;
    border: 2px solid black;
    padding: 2vw;
}
.pag {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    gap: 10vh;
}


.background {
    width: 25%;
    height: auto;
    background-image: url(./assets/LOGO\ PSI\ 1.png);
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 110px; /* Ajuste conforme necessário para posicionar a imagem abaixo da barra de navegação */
}


.form {
    width: 80%;
    max-width: 400px;
    border-radius: 5vw;
    background-color: #f2f2f2; 
    text-align: center;
    padding: 5vh;
    margin-top: 10vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form #btn {
    border-radius: 1vw;
    border: 2px solid black;
    padding: 2vw;
}

#pesq {
    font-size: 1.5vw;
}

#resultado {
    text-align: center;
    margin-top: 5vh;
}

#userInfo {
    font-size: 2vw;
    color: black;
}

#userTableContainer {
    display: block;
    justify-content: start;
    align-items: start;
    position: relative;
}

.update-form {
    margin-bottom: 5vh; /* Adicionando margem inferior apenas aos formulários de atualização */
}
