* {  
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    overflow: hidden; /* utilizado para a pagina não rolar */
    font-family: 'Poppins', sans-serif;
}

.background {
    width: 1920px;
    height: 1080px;
    background-image: url(./assets/Fundo\ Teams\ 2023\ \(1\)\ 2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    width: 374px;
    height: 500px; /* Ajustado para a altura se ajustar ao conteúdo */
    border-radius: 40px;
    background-color: #fff; /* Trocado de #ffff para #fff */
    text-align: center;
    padding: 20px; /* Adicionado espaçamento interno */
    margin-top: 50px; /* Adicionado espaçamento superior */
    border: 2px solid black;
    display: flex;
    flex-direction: column; /* Empilha os itens verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

.container-login input {
    display: block; /* Exibir inputs como blocos */
    margin: 10px auto; /* Espaçamento entre os inputs */
    width: 80%; /* Largura dos inputs */
    border-radius: 40px;
    padding: 20px;
    
}

button {
    display: block; /* Exibir botão como bloco */
    margin: 10px auto; /* Centralizar botão */
    border-radius: 40px;
    padding: 20px;
}
